# User client config: fallback (works on Windows OpenSSH 9.5p2 today)
Host *
    ServerAliveInterval 60
    ServerAliveCountMax 3
    HashKnownHosts yes
    VisualHostKey no
    ForwardAgent no
    GSSAPIAuthentication no

    KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org
    Ciphers chacha20-ietf-poly1305@openssh.com,aes256-gcm@openssh.com
    MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
