# Win32-OpenSSH: PQC-preferred server config (mlkem768 hybrid, OpenSSH >=10 default)
Port 22
Protocol 2
HostKey      C:/ProgramData/ssh/ssh_host_ed25519_key
HostKey      C:/ProgramData/ssh/ssh_host_rsa_key
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin prohibit-password
UseDNS no
AllowTcpForwarding yes
X11Forwarding no
AllowAgentForwarding yes
Subsystem sftp sftp-server.exe

# Prefer PQ hybrid KEX (mlkem768) then curve25519
KexAlgorithms mlkem768x25519-sha256,curve25519-sha256,curve25519-sha256@libssh.org

Ciphers chacha20-ietf-poly1305@openssh.com,aes256-gcm@openssh.com
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
LogLevel VERBOSE
